<html ng-app="zypeApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <meta http-equiv="imagetoolbar" content="no" />
        
        <script src="static/js/lib/angular.js"></script>        
        <script src="static/js/lib/jquery.js"></script>
        <script src="static/js/lib/angular-animate.js"></script>
        <script src="static/js/lib/angular-sanitize.js"></script>
        <script src="static/js/lib/ui-bootstrap.js"></script>
        <script src="static/js/lib/video_hls.js"></script>
        <script src="static/js/lib/swfobject.js"></script>
        <script src="static/js/lib/handler.js"></script>
        <script src="static/js/lib/streamLoader.js"></script>

        <script src="static/js/app.js"></script>
        <script src="static/js/VideoCtrl.js"></script> 
        <script src="static/js/ModalCtrl.js"></script>

        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/reset.css"/> 
        <link rel="stylesheet" href="static/css/player.css"/>
        <link rel="stylesheet" href="static/css/bootstrap.css"/>
        <link rel="stylesheet" href="static/css/video-js.css"/>


        <title>Zype Player Test</title>
    </head>

    <body>

        <div id="ngVideo" ng-controller="VideoCtrl">
          <input type="hidden" id="format" value="{{ currentVideo.format }}" />


            <div class="hls-player" ng-show="showHLSPlayer">
              <div class="modal-header">
                <h3 class="modal-title" id="modal-title">
                  Playing - Id: {{ currentVideo.video.id }} - Name: {{ currentVideo.name }} - Duration: ({{ currentVideo.length.hour }}:{{ currentVideo.length.min }}:{{ currentVideo.length.sec }})
                </h3>
              </div>

              <div class="modal-body" id="modal-body">
                <video id="hls_player" class="video-js vjs-default-skin" controls preload="none" width="640" height="264" 
            poster="/static/images/image_3.jpeg"
                data-setup='{"techOrder": ["flash"]}'>
                      <source src="" type='video/mp4' />
                    </video>

                  <input type="hidden" id="userInput" value="{{ currentVideo.href }}" size="60"> 
              </div>

              <div class="modal-footer">
                <button class="btn btn-warning close-button" type="button" ng-click="closeHLSPlayer();">Close</button>
              </div>
            </div>

            <div class="mp4-player" ng-show="showMP4Player">
              <div class="modal-header">
                <input type="hidden" id="video_id" value="{{  currentVideo.id }}" />
                <input type="hidden" id="video_href" value="{{ currentVideo.href }}" />
                <input type="hidden" id="video_length" value="{{ currentVideo.length.hour }}:{{ currentVideo.length.min }}:{{ currentVideo.length.sec }}" />
                <input type="hidden" id="video_issues" value="{{ currentVideo.fails }}" />

                <div class="modal-title same-line" id="modal-title">
                  Playing - Id: {{ currentVideo.video.id }} - Name: {{ currentVideo.name }} - Duration: ({{ currentVideo.length.hour }}:{{ currentVideo.length.min }}:{{ currentVideo.length.sec }})
                </div>

                <div class="same-line full-right">
                  <a href="" onclick="toggleVideoDetails()">
                      <img src="static/images/details.png" class="details-image" width="24px" />
                  </a>
                </div>                    
              </div>

                <div class="modal-body" id="modal-body">
                    <section id="status" class="video_details" style="display: none;">
                        <div class="tab-control">
                          <ul class="tabs clearfix">
                            <li>
                              <a class="selected" href="#events">Events</a>
                            </li>
                            <li>
                              <a href="#errorEvents">Error Events</a>
                            </li>
                            <li>
                              <a href="#properties">Properties</a>
                            </li>
                          </ul>
                          <div class="tab-content" id="events">

                          </div>
                          <div class="tab-content" id="errorEvents">

                          </div>
                          <div class="tab-content" id="properties">
                            <table id="propertiesTable">
                              <tr>
                                <td colspan="2" class="value" id="propCurrentSrc"></td>
                              </tr>
                              <tr>
                                <td class="prop">currentTime</td>
                                <td class="value" id="propCurrentTime">n/a</td>
                              </tr>
                              <tr>
                                <td class="prop">time</td>
                                <td class="value" id="propTime">n/a</td>
                              </tr>
                              <tr>
                                <td class="prop">defaultPlaybackRate</td>
                                <td class="value" id="propDefaultPlaybackRate">1</td>
                              </tr>
                              <tr>
                                <td class="prop">duration</td>
                                <td class="value" id="propDuration">n/a</td>
                              </tr>
                              <tr>
                                <td class="prop">ended</td>
                                <td class="value" id="propEnded">n/a</td>
                              </tr>
                              <tr>
                                <td class="prop">paused</td>
                                <td class="value" id="propPaused">n/a</td>
                              </tr>
                              <tr>
                                <td class="prop">muted</td>
                                <td class="value" id="propMuted">n/a</td>
                              </tr>
                              <tr>
                                <td class="prop">volume</td>
                                <td class="value" id="propVolume">n/a</td>
                              </tr>
                              <tr>
                                <td class="prop">seeking</td>
                                <td class="value" id="propSeeking">n/a</td>
                              </tr>
                              <tr>
                                <td class="prop">networkState</td>
                                <td class="value" id="propNetworkState">n/a</td>
                              </tr>
                              <tr>
                                <td class="prop">readyState</td>
                                <td class="value" id="propReadyState">n/a</td>
                              </tr>
                              <tr>
                                <td class="prop">bufferedBytesStart</td>
                                <td class="value" id="propBufferedBytesStart">0</td>
                              </tr>
                              <tr>
                                <td class="prop">bufferedBytesEnd</td>
                                <td class="value" id="propBufferedBytesEnd">n/a</td>
                              </tr>
                              <tr>
                                <td class="prop">bytesTotal</td>
                                <td class="value" id="propBytesTotal">0</td>
                              </tr>
                              <tr>
                                <td class="prop">videoWidth</td>
                                <td class="value" id="propVideoWidth">0</td>
                              </tr>
                              <tr>
                                <td class="prop">videoHeight</td>
                                <td class="value" id="propVideoHeight">0</td>
                              </tr>
                            </table>
                        </div>
                    </div>
                </section>

                <div class="span4">
                  <div id="videoPlayerWrapper">
                    <div id="videoPlayer"></div>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <div class="timer" style="display: inline-block;">
                        <div style="display: inline-block;" id="videoCurrentTime">00:00</div> / 
                        <div style="display: inline-block;" id="videoDuration">00:00</div>
                    </div>

                      <div class="row controls" style="display: inline-block;">
                        <div class="control-buttons">
                          <a id="btnPause" href="#" style="text-decoration: none;">
                            <img src="/static/images/pause.png" height="50px" />
                          </a>
                          <a id="btnResume" href="#" style="text-decoration: none;">
                            <img src="/static/images/play.png" height="50px"/>
                          </a>
                          <a id="btnSeek10" href="#" style="text-decoration: none;">
                            <img src="/static/images/forward.png" height="50px" />
                          </a>
                          <a id="btnMute" href="#" style="text-decoration: none;">
                            <img src="/static/images/mute.png" height="50px" />
                          </a>
                          <a id="btnEnlarge" href="#" style="text-decoration: none;">
                            <img src="/static/images/max.png" height="50px"/>
                          </a> 
                          <a id="btnReduce" href="#" style="text-decoration: none;">
                            <img src="/static/images/min.png" height="50px" />
                          </a>
                        </div>

                      </div>
                        <button class="btn btn-warning close-button" type="button" ng-click="closeMP4Player()">Close</button>
                </div>

            </div>



            <div class="header-main">
                <div class="header-left">
                    Zype Test Video Player
                </div>
                <div class="header-right">
                    Guido Alloatti
                </div>
            </div>

            <div class="main">
                <div class="video" ng-repeat="video in videos">

                    <div class="title">
                        <div class="same-line title-text">
                          {{ video.name }} ({{ video.length.hour }}:{{ video.length.min }}:{{ video.length.sec }}) | {{ video.format }}
                        </div>
                        <div class="same-line">
                          <img class="thumb" src="/static/images/up.png" ng-show="video.status == 'good'" width="32px">
                          <img class="thumb" src="/static/images/down.png" ng-show="video.status == 'bad'" width="32px">
                        </div>
                        <div class="same-line">
                          <a href="" ng-click="video.show_details = !video.show_details">
                              <img src="static/images/details.png" class="details-image" width="32px" />
                          </a>
                        </div>
                    </div>

                    <div ng-show="video.show_details" class="info same-line" id="video_{{ video.id }}">
                        Id: {{ video.id }}<br>
                        Name: {{ video.name }}<br>
                        Duration: {{ video.length.hour }}:{{ video.length.min }}:{{ video.length.sec }}<br>
                        Link: {{ video.href }}<br>
                        Format: {{ video.format }}<br>
                        Status: {{ video.status }}<br>
                        <div ng-show="video.fails.length > 0">
                          Failing at:
                          <div ng-repeat="fail in video.fails">
                            <li>{{ fail.hour }}:{{ fail.min }}:{{ fail.sec }}</li>
                          </div>
                        </div>
                    </div>

                    <div class="player" >
                      <a class="openVideo" href="" ng-click="playVideo(video)">
                        <img src="static/images/thumbnails/video_{{ video.id }}.png" alt="Image Video" width="100%" onerror="this.src='/static/images/image_2.jpg'"/>
                      </a>
                    </div>
                </div>
            </div>
            
            <div class="footer">
                <div class="github">
                    <a href="https://github.com/guidoalloatti" target="_blank"> 
                        <img src="/static/images/github.png" width="64px" /><br>
                        Github 
                    </a>
                </div>
                <div class="linkedin">
                    <a href="https://www.linkedin.com/in/guidoalloatti" target="_blank">
                        <img src="/static/images/linkedin.png" width="64px" /><br>
                        Linkedin
                </div>
                <div class="gmail">
                    <a href="mailto:guidoalloatti@gmail.com?Subject=Zype%20Test" target="_top">
                        <img src="/static/images/gmail.png" width="64px" /><br>
                        Gmail
                </div>
            </div>
        </div>
    </body>
</html>
